.container{
    margin-left: 30px;
}

.posts {
    margin-top: 10px;
}


.textarea{
    background: #eaf2f1;
    border: none;
    padding: 5px;
    resize: none;
    width: 400px;
    height: 120px;

}