.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.wrapper {
    display: flex;
}

.image {
    height: 200px;
    border-radius: 10px;
    margin-left: 20px;

}

.text {
    font-size: large;
    margin-left: 30px;
}

label {
    background-Color: #fff;
    border-Radius: 5px;
    text-Align: center;
    font-size: 15px;
}

.changeProfile {
    margin-top: 5px;
    background-Color: #fff;
    border-Radius: 5px;
    border: none;
    font-family: inherit;
}
