.container {
    display: flex;

}

.image {
    height: 200px;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 20px;

}

.text {

    margin-top: 50px;
    padding: 10px;
    font-size: large;
    margin-left: 20px;

}