
.item {
    background-color: #c8bada;
    padding: 20px;
    margin: 0 0 30px;
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.button {

}

.text {
    color: black;
    border-bottom: 1px solid #BBA9D1;
    margin: 0 0 15px;
    padding: 0 0 15px;
}